# Numbers

In [1]:
2 + 2

4

In [2]:
50 - 5*6

20

In [3]:
(50 - 5*6) / 4

5.0

In [4]:
8 / 5

1.6

In [5]:
17 // 3

5

In [6]:
2 ** 7

128

In [7]:
width = 20
height = 5 * 9
width * height

900

In [8]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

# Strings

In [9]:
'spam eggs'

'spam eggs'

In [10]:
print('C:\some\name')

C:\some
ame

In [11]:
print(r'C:\some\name')

C:\some\name

In [12]:
3 * 'un' + 'ium'

'unununium'

In [13]:
'Py' 'thon'

'Python'

In [14]:
word = 'Python'
word[5]

'n'

# Lists

In [15]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [16]:
squares[0]

1

In [17]:
squares[-1]

25

In [18]:
squares[-3:]

[9, 16, 25]

In [19]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [22]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [23]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

# If / else statement

In [24]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [29]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

Your name is John, and you are also 23 years old.

In [30]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [31]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [6]:
def getgrade(marks):
    if(marks>=80):
        return "A+"
    elif(marks >=70 and marks <79):
        return "A"
    elif(marks >=60 and marks <69):
        return "B"
    elif(marks >=50 and marks <59):
        return "C"
    elif(marks >=40 and marks <49):
        return "D"
    else:
        return "Fail"
print(getgrade(65))

B

# Loops

In [32]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [33]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [34]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [35]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [36]:
# Prints out 0,1,2,3,4

count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [37]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# Functions

In [39]:
 def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [4]:
def makedouble(x):
    return 2*x;

print(makedouble(3.1416))

6.2832

In [5]:
def welcomefunction(name):
    return"welcome, "+name +" ! "
print(welcomefunction("Abidur"))

welcome, Abidur !

# Python Data Type
- int
- float
- string

In [1]:
# int data
age = 25
print(age)

25

In [2]:
# float data
cgpa = 3.5
print(cgpa)

3.5

In [3]:
# string data
message = "Hello world"
print (message)

Hello world

# Iteration

In [7]:
number = 1
#while number<10:
    #print(number)
    #number+=1
    
    
for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19